<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="irlab.dao.GapsArticleMapper" >
  <resultMap id="BaseResultMap" type="irlab.model.GapsArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="articleTitle" property="articletitle" jdbcType="VARCHAR" />
    <result column="articleAuthor" property="articleauthor" jdbcType="VARCHAR" />
    <result column="articleYear" property="articleyear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, articleTitle, articleAuthor, articleYear
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gapsarticle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gapsarticle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="irlab.model.GapsArticle" >
    insert into gapsarticle (id, articleTitle, articleAuthor, 
      articleYear)
    values (#{id,jdbcType=INTEGER}, #{articletitle,jdbcType=VARCHAR}, #{articleauthor,jdbcType=VARCHAR}, 
      #{articleyear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="irlab.model.GapsArticle" >
    insert into gapsarticle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articletitle != null" >
        articleTitle,
      </if>
      <if test="articleauthor != null" >
        articleAuthor,
      </if>
      <if test="articleyear != null" >
        articleYear,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articletitle != null" >
        #{articletitle,jdbcType=VARCHAR},
      </if>
      <if test="articleauthor != null" >
        #{articleauthor,jdbcType=VARCHAR},
      </if>
      <if test="articleyear != null" >
        #{articleyear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="irlab.model.GapsArticle" >
    update gapsarticle
    <set >
      <if test="articletitle != null" >
        articleTitle = #{articletitle,jdbcType=VARCHAR},
      </if>
      <if test="articleauthor != null" >
        articleAuthor = #{articleauthor,jdbcType=VARCHAR},
      </if>
      <if test="articleyear != null" >
        articleYear = #{articleyear,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="irlab.model.GapsArticle" >
    update gapsarticle
    set articleTitle = #{articletitle,jdbcType=VARCHAR},
      articleAuthor = #{articleauthor,jdbcType=VARCHAR},
      articleYear = #{articleyear,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>